.login{
    margin: 9rem auto 0;
    .form{
        background-color: #dedede59;
        border-radius: 16px;
        padding: 3rem 2rem;
        .bi-person-circle{
            font-size: 7rem;
            color: var(--bs-blue);
        }
        .input{
            position: relative;
            .bi{
                position: absolute;
                left: 12px;
                top: 50%;
                transform: translate(-5px, -50%);
            }
            input{
                padding-left: 28px;
            }
        }
        .submit{
            background-color: var(--bs-blue);
            color: #fff;
            text-transform: capitalize;
            padding: 8px 32px;
            margin-top: 1rem;
        }
    }
    .login-img{
        width: 100%;
    }
}

.header{
    background-image: url('../images/bg.jpg');
    background-size: cover;
    padding: 2rem 0;
    .navbar{
        .title{
            color: #fff;
            text-transform: capitalize;
        }
        .logout{
            color: #fff;
            border-color: #fff;
        }
    }
    .form{
        text-align: center;
        margin-top: 2rem;
        .addTask{
            background-color: #24273d;
            color: #fff;
            border: none;
            padding: 12px 16px;
            width: 30%;
            font-size: 18px;
        }
        .submit{
            padding: 12px 22px;
            background-color: var(--bs-blue);
            border: none;
            color: #fff;
            font-size: 18px;
            text-transform: capitalize;
        }
    }
}
.loading{
    margin: 2rem 0;
    .card{
        width: 45%;
        margin: auto;
        background-color: #fff;
        height: auto;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 9px 17px 45px -29px
                    rgba(0, 0, 0, 0.44);
        .description {
            padding: 8px;
            font-size: 16px;
        }
        .description.card-loading {
            height: 3.25rem;
        }
        .card-loading {
            position: relative;
            background-color: #24273d;
            .text{
                color: #fff;
                margin: 0;
                font-size: 22px;
                padding-left: 8px;
            }
            &::after {
                display: block;
                content: "";
                position: absolute;
                width: 100%;
                top: 0;
                height: 100%;
                transform: translateX(-100%);
                background: linear-gradient(90deg, transparent,
                        rgba(255, 255, 255, 0.2), transparent);
                animation: loading 1s infinite;
            }
        }
    }
   
    @keyframes loading {
        100% {
            transform: translateX(100%);
        }
    }
}
.list{
    margin-top: 2rem;
    .task{
        width: 53%;
        margin: auto;
        margin-bottom: 15px;
        color: #fff;
        border-radius: 5px;
        background-color: #24273d;
        padding: 12px 16px;
        font-size: 18px;
        display: flex;
        p{
            margin: 0;
            width: 90%;
        }
        button{
            background: none;
            border: none;
            color: #fff
        }
    }
}
